.navbar {
				z-index: 11;
				position: fixed;
				bottom: 0;
				left: 0;
				display: flex;
				display: -webkit-flex;
				width: 100%;
				background: whitesmoke;
			}
			
			.navbar div {
				display: inline-block;
				height: 50px;
				line-height: 50px;
				flex: 1;
				text-decoration: none;
				font-size: 12px;
				color: black;
				/*border-right: 1px solid black;*/
				position: relative;
				padding-left: 20px;
				text-align: center;
			}
			
			.navbar div:last-of-type {
				border: none;
			}
			
			.navbar .bar-icon {
				position: absolute;
				top: 15px;
				left: 50%;
				margin-left: -35px;
			}
			
			.navbar .icon-phone {
				background: url(../img/bar-icons.png) no-repeat -6px -6px;
				width: 20px;
				height: 20px;
			}
			
			.navbar .icon-eat {
				background: url(../img/bar-icons.png) no-repeat -34px -7px;
				width: 20px;
				height: 19px;
			}
			
			.navbar .icon-brand {
				background: url(../img/bar-icons.png) no-repeat -62px -6px;
				width: 20px;
				height: 18px;
			}
			
			.navbar .icon-success {
				background: url(../img/bar-icons.png) no-repeat -89px -6px;
				width: 18px;
				height: 17px;
			}