* {
	margin: 0;
	padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-family:"微软雅黑";
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.header {
	height: 43px;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 10;	
}

.header .title{
	color:#787878;
	font-size: 12px;
	font-weight: bold;
	line-height: 43px;
}

.header .icon{
    position: absolute;
    right: 15px;
    top: 13.5px;
	height: 16px;
}

.person_info_div{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	background-color: rgba(100, 100, 100, 0.2);
	z-index: 99;
}

.person_info_content{
	float: right;
	width: 60%;
	height: 100%;
	background-color: blue;
}

.site_info_div{
	position: absolute;
	width: 100%;
	height: 100%;
	left: -100%;
	background-color: rgba(100, 100, 100, 0.2);
	z-index: 99;
}

.site_info_content{
	float: left;
	width: 60%;
	height: 100%;
	background-color: blue;
}

.add_site_div{
	position: absolute;
	top: 135px;
	left: calc(50% - 93px);
	height: 31px;
	line-height: 31px;
	width: 186px;
	background-color: white;
	z-index: 10;
	font-size: 12px;
	overflow: hidden;
	border-radius: 15.5px;
	text-align: center;
}

.add_site_button{
	display: inline-block;
	margin:0 13px;
}

.add_site_icon {
	display: inline-block;
	height: 19px;
	margin-right: 19px;
}

.show_button{
	display: none;
}
.show_site_icon {
	display: inline-block;
	height: 25px;
}

.hide_button{
	border-left: 1px solid #cdcdcd;
	display: inline-block;
	width: 40px;
	text-align: center;
}
.sub_site_icon {
	display: inline-block;
	height: 19px;
}

.map {
    padding: 43px 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
}

.footer {
	height: 45px;
	z-index: 10;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: whitesmoke;
}
.footer_button{
	width: 24%;
	display: inline-block;
	text-align: center;
	font-size: 10px;
	color: #a2a2a2;
	padding-top: 3px;
}

.footer .icon {
	display: inline-block;
	height: 24px;
	margin-bottom: 3px;
}