* {
	margin: 0;
	padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
	font-family:"微软雅黑";
	overflow:hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.header {
	height: 43px;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 10;	
}

.header .title{
	color:#787878;
	font-size: 12px;
	font-weight: bold;
	line-height: 43px;
}

.header .icon{
    position: absolute;
    right: 15px;
    top: 13.5px;
	height: 16px;
}

.cover_div{
	position: absolute;
	background-color: rgba(100, 100, 100, 0.2);
	z-index: 11;
	height: 100%;
	width: 100%;
	display: none;
}

.site_info_div{
	position: absolute;
	width: 60%;
	height: 100%;
	right: 100%;
	background-color: white;
	z-index: 99;
	overflow-y: auto;
}

.add_site_div{
	position: absolute;
	top: 135px;
	left: calc(50% - 93px);
	height: 31px;
	line-height: 31px;
	width: 186px;
	background-color: white;
	z-index: 10;
	font-size: 12px;
	overflow: hidden;
	border-radius: 15.5px;
	text-align: center;
}

.add_site_button{
	display: inline-block;
	margin:0 13px;
}

.add_site_icon {
	display: inline-block;
	height: 19px;
	margin-right: 19px;
}

.show_button{
	display: none;
}
.show_site_icon {
	display: inline-block;
	height: 25px;
}

.hide_button{
	border-left: 1px solid #cdcdcd;
	display: inline-block;
	width: 40px;
	text-align: center;
}
.sub_site_icon {
	display: inline-block;
	height: 19px;
}

.map {
    padding: 43px 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
}

.footer {
	height: 45px;
	z-index: 10;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: whitesmoke;
}
.footer_button{
	width: 24%;
	display: inline-block;
	text-align: center;
	font-size: 10px;
	color: #a2a2a2;
	padding-top: 3px;
}

.footer .icon {
	display: inline-block;
	height: 24px;
	margin-bottom: 3px;
}

.bottom_menu{
	position: absolute;
	top:100%;
	width: 25%;
	background-color: white;
	text-align: center;
}

.bottom_menu:nth-child(1){
	left: 0
}

.bottom_menu:nth-child(2){
	left: 25%
}

.bottom_menu:nth-child(3){
	left: 50%
}

.bottom_menu:nth-child(4){
	left: 75%
}

.bottom_menu div{
	height: 30px;
	font-size: 12px;
	line-height: 30px;
}

.bottom_menu hr{
	width: 50%;
	height: 1px;
	background-color: #cdcdcd;
	margin: 0 0 0 25%;
	border: 0;
}

.person_info_div{
	position: absolute;
	width: 60%;
	height: 100%;
	left: 100%;
	background-color: white;
	z-index: 99;
}

.person_info_content{
	margin-top: 50%;
	padding: 10px;
	text-align: center;
}

.login_title{
	font-size: 14px;
	color: #515151;
	text-align: center;
}

.login_form{
	margin-top: 32px;
}

.login_form div{
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 23px;
}

.login_form input[type="text"],input[type="password"]{
	border: 0;
}

.login_btn{
	background-color: white;
    border: 1px solid #565656;
	width: 80%;
	font-size: 12px;
	color: #565656;
	margin-bottom: 23px;
}

.login_forget{
	display: inline-block;
	font-size: 10px;
	color: #cdcdcd;
}